/* Standalone Utility / FX classes */ 

.boxed {
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 15px;
    border-color: #696969;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
